<div *ngIf="showSpinner" class="showSpinner">
  <i class="fa fa-spinner" aria-hidden="true"></i>
</div>

<div class="showMessageTxt" *ngIf="message.text">
  <div
      class="alert alert-{{message.type}}"
  >
      {{ message.text }}
  </div>
</div>


<div id="detail-page" class="detail_product">
  <div (click)="close(element)" class="close">
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <div class="detail_product__item detail_product__item--left">
    <div class="detail_product__item--images">
      <div class="arrows prew"
      [attr.data-next]="prevElementId"
      (click)="routePrewProduct(element)">
        <i *ngIf="showPrevElementId && showProduct" class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div *ngIf="showProduct" class="image">
        <img [src]="apiRoot + 'Img?AppCode=' + appCode + '&ImgFileName=' + elementImage_Base">
      </div>
      <div *ngIf="!showProduct" class="image">
        <div class="loadingItem">
          <i class="fa fa-spinner" aria-hidden="true"></i>
        </div>
      </div>
      <div  class="arrows next"
          [attr.data-next]="nextElementId"
          (click)="routeNextProduct(element)">
        <i *ngIf="showNextElementId && showProduct" class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>

    <!-- begin show only for mobile fersion-->
      <div *ngIf="showProduct && element.additionalImages" class="detail_product__item--additional_images">
        <div *ngIf="showAdditionalImages && currentPosition !==0" class="arrows prew">
          <i (click)="goLeft()" class="fa fa-chevron-left mr-2" aria-hidden="true"></i>
        </div>
        <div class="images">
          <img
            *ngFor="let item of additionalImages"
            (mouseenter)="mouseOverImg(item)" (mouseleave)="mouseLeaveImg(element)"
            [src]="apiRoot + 'Img?AppCode=' + appCode + '&ImgFileName=' + item.t_image"
          >
        </div>
        <div *ngIf="showAdditionalImages && currentPosition !== (element.additionalImages.length - 3)" class="arrows next">
          <i (click)="goRight()" class="fa fa-chevron-right ml-2" aria-hidden="true"></i>
        </div>
      </div>
    <!-- end -->

    <div class="detail_product__item--main_information">
      <div class="text">
        <h4 *ngIf="element.tName">{{ element.tName }}</h4>
        <p *ngIf="element.prc_Br">{{ element.prc_Br }}</p>
      </div>

      <div class="change">
        <div *ngIf="showEdit" class="edit" (click)="editProduct(element)">
          <span>Редактировать</span>
        </div>

        <div *ngIf="showEdit" class="delete" (click)="deleteProduct(element)">
          <span>Удалить</span>
        </div>
      </div>

      <div *ngIf="showBasket">
        <div class="basket"
          *ngIf="!orderService.containsProduct(element.prc_ID) else inCart"
          (click)="addToCart(element)">
            <img src="assets/images/white-cart.png">
            <span>В корзину</span>
        </div>
        <ng-template #inCart>
          <div class="basket in_cart">
            <i class="fa fa-check"></i>
            <span>В корзине</span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="detail_product__item detail_product__item--right">
    <h4 *ngIf="element">{{ element.tName }}</h4>
    <p *ngIf="element.catalog">{{ element.catalog }}</p>
    <!-- begin show only for desktop fersion-->
      <div *ngIf="showProduct && element.additionalImages" class="additional_images">
        <div *ngIf="showAdditionalImages && currentPosition !==0" class="arrows prew">
          <i (click)="goLeft()" class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="images">
          <img
            *ngFor="let item of additionalImages"
            (mouseenter)="mouseOverImg(item)" (mouseleave)="mouseLeaveImg(element)"
            [src]="apiRoot + 'Img?AppCode=' + appCode + '&ImgFileName=' + item.t_image"
          >
        </div>
        <div *ngIf="showAdditionalImages && currentPosition !== (element.additionalImages.length - 3)" class="arrows next">
          <i (click)="goRight()" class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
    <!-- end -->
    <div class="description" id="show_description">
      <p *ngIf="element.tDescription"
        [innerHtml]="element.tDescription"
      >{{ element.tDescription }}
    </p>
    </div>
    <!-- begin show only for mobile fersion-->
      <p *ngIf="showDescription" (click)="showDetail(element)" class="detail">ПОДРОБНЕЕ</p>
    <!-- end -->
    <div class="contact_info">
      <div class="phone">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span>8-916-1616146</span>
      </div>
      <div class="email">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <span>golovinskiy-rf@mail.ru</span>
      </div>
    </div>
    <div class="application">
      <img src="assets/images/app1.png">
      <img src="assets/images/app2.png">
    </div>
  </div>

</div>

<!----
      <h6>Контакты</h6>
      <div class="phone">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span>8-916-1616146</span>
      </div>
      <div class="email">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <span>golovinskiy-rf@mail.ru</span>
      </div>
-->