<section class="advertisement">
    
    <div class="container">
      <div class="showSpinner" *ngIf="showSpinner">
          <i class="fa fa-spinner fa-spin"></i>
      </div>

      <h3 class="text-center mt-4 mb-4">Разместить объявление</h3>
      <div class="row justify-content-md-center">
          <div class="col-lg-8 col-xs-12 back text-right mt-4 mb-2">
              <a routerLink="/">ВЕРНУТЬСЯ к КАТАЛОГУ</a>
          </div>
      </div>
      <div class="row justify-content-md-center">
          <div class="col-lg-8 col-xs-12 back text-right mb-4">
              <a routerLink="/cabinet">ВЕРНУТЬСЯ в ЛИЧНЫЙ КАБИНЕТ</a>
          </div>
      </div>

      <div class="row mb-3 justify-content-md-center">
          <div class="col-lg-8 col-xs-12 text-right">
              <div class="contact pt-2 pb-2 pr-2">
                  <h5>Контактная информация</h5>
                  <div *ngIf="fio" class="row">
                      <div class="col-lg-12 col-xs-12">
                        {{ fio }}
                      </div>
                  </div>
                  <div *ngIf="userName" class="row">
                      <div class="col-lg-12 col-xs-12">
                        {{ userName }}
                      </div>
                  </div>
                  <div *ngIf="phone" class="row">
                      <div class="col-lg-12 col-xs-12">
                        {{ phone }}
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
      <ng-container>
        <div class="categories">
          <app-categories
            (lastChildAction)="categorySelect($event)"
            [initialCategories]="initialCategories.slice(0, -1)"
            [categories]="categoriesService.mainCategories$ | async"
          ></app-categories>
        </div>
        <div class="categories-mobile">
          <app-mobile-categories (lastChildAction)="categorySelect($event)"
                                 [initialCategories]="initialCategories.slice(0, 1)"
                                 [categories]="(isCabinet()? categoriesService.userCategories$: categoriesService.mainCategories$) | async"
          ></app-mobile-categories>
        </div>
      </ng-container>

      <div *ngIf="false" class="row justify-content-md-center choosed">
          <div class="col-lg-8 col-xs-12 no-padding">
              Вы выбрали раздел
              <app-breadcrumbs [categories]="categories" (click)="breadcrumbsClick()"></app-breadcrumbs>
          </div>
      </div>
      <div class="row justify-content-md-center choosed">
          <div class="col-lg-8 col-xs-12 no-padding">

          </div>
      </div>

      <div class="showMessage" *ngIf="message.text">
          <div
              class="alert alert-{{message.type}}"
          >
              {{ message.text }} <img *ngIf="message.spinner" height="20px" [src]="loadingMini" alt="">
          </div>
      </div>

      <div class="form">

          <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div
                  class="form-group"
                  style="display: none;"

              >
                  <div class="row justify-content-md-center">
                      <div class="col-lg-4">
                          <label>Наименование категории</label>
                      </div>
                      <div class="col-lg-4">
                          <input
                              type="text"
                              id="Categories"
                              formControlName="Categories"
                              [(ngModel)] = "itemName"
                          >
                      </div>
                  </div>
              </div>

              <div
                  class="form-group"
                  [ngClass]="{'has-error': form.get('TName').invalid &&  form.get('TName').touched}"
              >
                  <div class="row justify-content-md-center">
                      <div class="col-lg-4">
                          <label>Наименование товара, услуги *</label>
                      </div>
                      <div class="col-lg-4">
                          <input
                              type="text"
                              id="TName"
                              formControlName="TName"
                          >
                          <span
                              class="form-help-text"
                              *ngIf="form.get('TName').invalid &&  form.get('TName').touched"
                          >
                              <span *ngIf="form.get('TName')['errors']['required']">
                                  Заполните наименование товара, услуги
                              </span>
                          </span>
                      </div>
                  </div>
              </div>

              <div
                  class="mb-3"
              >
                  <div class="row justify-content-md-center">
                      <div class="col-lg-4">
                          <label>Основная фотография</label>
                      </div>
                      <div class="col-lg-4">
                          <input
                              style="display: none;"
                              type="file"
                              id="TImageprev"
                              formControlName="TImageprev"
                              (change)="mainFileSelected($event)"
                              #fileInput
                              capture="camera"
                          >
                          <div class="upload btn-file" (click)="fileInput.click()">
                              <img id="img"
                                  [src]="mainImageData.src"
                                  style="width:100px; height:70px" alt=""
                              >
                              <i *ngIf="!mainImageData.blob" class="fa fa-upload arrow" aria-hidden="true"></i>
                              <i *ngIf="mainImageData.blob" class="fa fa-rotate-right" (click)="redraw(mainImageData, 90)"></i>
                          </div>
                          <progress class="aprogress" [id]="mainImageData.name" value="0" max="100"></progress>
                      </div>
                  </div>
              </div>

              
              <div
                  class="mb-3"
              >
                  <div class="row justify-content-md-center">
                      <div class="col-lg-4 col-xs-12">
                          <label>Доп. фотографии</label>
                      </div>
                      <div class="col-lg-4 col-xs-12">
                          <div class="upload-images">
                              <input
                                  style="display: none;"
                                  type="file"
                                  name="onFilesMultipleSelectedAdd"
                                  (change)="additionalImagesAdd($event)"
                                  #filesInputAdd
                                  capture="camera"
                                  [disabled]="isDisabled"
                              >
                              <div *ngFor="let image of additionalImagesData let i = index">
                                   <input
                                      style="display: none;"
                                      type="file"
                                      name="onFilesMultipleSelected"
                                      (change)="additionalImagesChange($event, i)"
                                      #filesInput
                                      capture="camera"
                                  >
                                  <div class="upload_image_container">
                                    <img (click)="filesInput.click()"
                                    alt=""
                                    [src]="image.src"
                                    id="addIm{{i}}"
                                    class="uploadImage"
                                >
                                <progress class="aprogress" [id]="image.name" value="0" max="100"></progress>
                                <i class="fa fa-times delete" (click)="removeAdditionalImage(i)" aria-hidden="true"></i>
                                <i class="fa fa-times fa-repeat repeat" (click)="redraw(image, 90)" aria-hidden="true"></i>
                                  </div>
                              </div>
                              <i class="fa fa-upload arrow" aria-hidden="true"
                                  (click)="filesInputAdd.click()"
                                  [ngClass]="{'disabled': isDisabled}"
                              ></i>
                          </div>
                      </div>
                  </div>
              </div>


              <div
              class="form-group"
          >
              <div class="row justify-content-md-center">
                  <div class="col-lg-4">
                      <label>Описание товара, услуги</label>
                  </div>
                  <div class="col-lg-4">
                      <textarea
                          type="textarea"
                          id="TDescription"
                          formControlName="TDescription"
                      >
                      </textarea>
                  </div>
              </div>
          </div>

          <div
              class="form-group"
          >
              <div class="row justify-content-md-center">
                  <div class="col-lg-4">
                      <label>Цена</label>
                  </div>
                  <div class="col-lg-4">
                      <input
                          type="text"
                          id="TCost"
                          formControlName="TCost"
                      >
                  </div>
              </div>
          </div>

          
              <div class="row justify-content-md-center">
                  <div class="col col-lg-4 mb-3 hover_btn"
                       id="submit-area"
                  >
                      <button
                          name="submitButton" #submitButton
                          class="btn btn-block btn-primary"
                          type="submit"
                          [disabled]="showSpinner || form.invalid || message.spinner"
                      >
                          <span>Разместить объявление</span>
                      </button>

                  </div>
              </div>

              <div class="row other_fields">
                  <div class="col-lg-4">
                      <p>Необязательные поля</p>
                  </div>
              </div>

              <div
                  class="form-group"
              >

                  <div class="row justify-content-md-center">
                      <div class="col-lg-4">
                          <label>Ссылка на видео</label>
                      </div>
                      <div class="col-lg-4">
                          <input
                              type="text"
                              id="youtube"
                              formControlName="youtube"
                          >
                      </div>
                  </div>

              </div>

              <div
                  class="form-group"
              >

                  <div class="row justify-content-md-center">
                      <div class="col-lg-4">
                          <label>Тип изделия</label>
                      </div>
                      <div class="col-lg-4">
                          <input
                              type="text"
                              id="TypeProd"
                              formControlName="TypeProd"
                          >
                      </div>
                  </div>

              </div>

              <div
                  class="form-group"
              >

                  <div class="row justify-content-md-center">
                      <div class="col-lg-4">
                          <label>Конечная цена изделия в рублях</label>
                      </div>
                      <div class="col-lg-4">
                          <input
                              type="text"
                              id="PrcNt"
                              formControlName="PrcNt"
                          >
                      </div>
                  </div>

              </div>

              <div
                  class="form-group"
              >
                  <div class="row justify-content-md-center">
                      <div class="col-lg-4">
                          <label>Артикул товара</label>
                      </div>
                      <div class="col-lg-4">
                          <input
                              type="text"
                              id="Article"
                              formControlName="Article"
                          >
                      </div>
                  </div>

              </div>


              <div
                  class="form-group"
              >

                  <div class="row justify-content-md-center">
                      <div class="col-lg-4">
                          <label>Механизм трансформации</label>
                      </div>
                      <div class="col-lg-4">
                          <input
                              type="text"
                              id="TransformMech"
                              formControlName="TransformMech"
                          >
                      </div>
                  </div>
              </div>

          </form>

      </div>

    </div>
  </section>
