<div class="desktop">
  <iframe width="640px" height="335px" [src]="sanitizer.bypassSecurityTrustResourceUrl(youtubeLink)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="mobile">
  <iframe width="280px" height="170px" [src]="sanitizer.bypassSecurityTrustResourceUrl(youtubeLink)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>