<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>secret data storage!</h1>
</div>
<div class="listContainer">
  <ul>
    <li>
      <a routerLink="/">main page</a>
    </li>
    <li>
      <a routerLink="/signup">sign up</a>
    </li>
    <li>
      <a routerLink="/auth">authorization</a>
    </li>
    <li>
      <a routerLink="/secrets">go to secrets</a>
    </li>
    <li>
      <a routerLink="/product">product</a>
    </li>
    <li>
      <a routerLink="/images">images</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
