<div id="fon-image">

    <app-header></app-header>

    <div id="inner">
      <ng-container *ngIf="showCategories">
        <div class="categories-mobile">
          <app-mobile-categories
            (lastChildAction)="onCategoriesClick($event)"
            [initialCategories]="initialCategories"
            [categories]="categories"
          ></app-mobile-categories>
        </div>
        <div class="categories">
          <app-categories
            (lastChildAction)="onCategoriesClick($event)"
            [initialCategories]="initialCategories"
            [categories]="categories"
          ></app-categories>
        </div>
        <!--<router-outlet></router-outlet>-->
      </ng-container>
    </div>

    <div class="data" id="doc_time" [@hideClock]="clickClock">

    </div>

    <app-footer></app-footer>
</div>


