<div id="fon-image">
  <app-header id="header"></app-header>
  <div id="main-content">
    <div class="showMessage" *ngIf="showSpinner">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div class="showMessageTxt" *ngIf="message.text">
        <div
            class="alert alert-{{message.type}}"
        >
            {{ message.text }}
        </div>
    </div>

    <div id="breadcrumbs" class="breadcrumbs_container">
      <app-breadcrumbs
        (click)="breadcrumbsClick()"
        [categories]="categories"
        *ngIf="!showSpinner"
      ></app-breadcrumbs>
    </div>

    <app-mobile-categories
      [initialCategories]="categories"
      [categories]="(isCabinet()? categoriesService.userCategories$: categoriesService.mainCategories$) | async"
      (lastChildAction)="navigateToCategory($event)"
    ></app-mobile-categories>


    <div class="products_list">

        <div class="products_list__item" *ngFor="let product of Gallery | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage}"
        [id]="product.prc_ID">
            <div class="products_list__item--main">
                <img (click)="detail(product)" src="{{ apiRoot + '/api/Img?AppCode=' + product.appCode + '&ImgFileName=' + product.image_Base }}" alt="">
            </div>
            <div class="products_list__item--footer">
                <h4 (click)="detail(product)">{{ product.tName }}</h4>
                <div class="price">
                    <p *ngIf="product.prc_Br">{{ product.prc_Br }}</p>
                    <div *ngIf="cid">
                      <div class="add_cart"
                           *ngIf="!orderService.containsProduct(product.prc_ID) else inCart"
                           (click)="addToCart(product)">
                        <span>В корзину</span>
                      </div>
                      <ng-template #inCart>
                        <div class="add_cart in_cart">
                          <i class="fa fa-check"></i>
                          <span>В корзине</span>
                        </div>
                      </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <pagination-template class="pagination_list" #p="paginationApi" (pageChange)="currentPage = $event" *ngIf="!showSpinner">
      <ng-container *ngIf="p.getLastPage() !== 1">
        <div class="pagination_list__item" [class.disabled]="p.isFirstPage()">Предыдущая</div>
        <div class="pagination_list__item" [class.current] = "p.getCurrent() === page.value" *ngFor="let page of p.pages" (click)="p.setCurrent(page.value)">
          {{page.label}}
        </div>
        <div class="pagination_list__item" [class.disabled]="p.isLastPage()">Следующая</div>
      </ng-container>
    </pagination-template>
  </div>

  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>
